%h1.alert.alert-info Inicio#index
%p Find me in app/views/inicio/index.html.erb

%h4 Hola Mundo
%i.fa-brands.fa-font-awesome
%i.fa-solid.fa-user-secret


= icon('fa-solid', 'user-secret', class:"fa-7x, fa-shake")
= icon('fa-brands', 'font-awesome', 'Font Awesome', id: 'my-icon', class: 'fa-shake')
= icon('fab', 'font-awesome', 'Font Awesome', id: 'my-icon', class: 'fa-beat')